# **Predict Employee Attrition**
---

# Import Library

In [1]:
# Data manipulation
import numpy as np
import pandas as pd
import datetime as dt

# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Read Data

In [3]:
# Read data
link = 'https://raw.githubusercontent.com/sabirinID/Predicting-Employee-Attrition/main/Dataset/hr_employee_retention_dataset.csv'
df = pd.read_csv(link, index_col=0)

In [4]:
df.sample(5)

,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
Username,,,,,,,,,,,,,,,,,,,,,,,,
truthfulHawk9,106029,Menikah,Wanita,FullTime,Software Engineer (Back End),Senior_level,Biasa,Jakarta Selatan,Indeed,4,3.0,0.0,0.0,10.0,+6285919278xxx,truthfulHawk9561@yahoo.com,Sarjana,1,NaN,NaN,1954-09-21,2012-07-02,2020-1-17,-
scornfulCoati1,110699,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Senior_level,Kurang,Jakarta Barat,Google_Search,4,4.0,0.0,5.0,16.0,+6285585054xxx,scornfulCoati1438@icloud.com,Magister,1,NaN,toxic_culture,1983-09-02,2012-04-02,2019-04-12,2020-9-27
guiltyMoth4,100621,Lainnya,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Utara,Indeed,1,2.0,0.0,4.0,9.0,+6289723429xxx,guiltyMoth4337@icloud.com,Sarjana,1,NaN,masih_bekerja,1967-04-19,2014-07-07,2020-1-31,-
pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3.0,0.0,0.0,11.0,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
brainyRice8,106245,Bercerai,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Pusat,CareerBuilder,3,3.0,6.0,0.0,6.0,+6289935357xxx,brainyRice8142@icloud.com,Sarjana,1,NaN,masih_bekerja,1979-04-04,2015-2-16,2020-02-11,-

# Data Understanding

## Features Definition

| Feature Name           | Feature Description                              |
|------------------------|--------------------------------------------------|
| EnterpriseID           | Enterprise ID                                    |

## Dimensions of the DataFrame

In [5]:
df.shape

(287, 24)

In [6]:
print('Dataset ini memiliki dimensi data, yaitu')
print('Jumlah baris: {}'.format(df.shape[0]))
print('Jumlah kolom: {}'.format(df.shape[1]))

Dataset ini memiliki dimensi data, yaitu
Jumlah baris: 287
Jumlah kolom: 24

## Data Types of the Features

In [7]:
# Data information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287 entries, spiritedPorpoise3 to puzzledFish5
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   EnterpriseID                        287 non-null    int64
 1   StatusPernikahan                    287 non-null    object
 2   JenisKelamin                        287 non-null    object
 3   StatusKepegawaian                   287 non-null    object
 4   Pekerjaan                           287 non-null    object
 5   JenjangKarir                        287 non-null    object
 6   PerformancePegawai                  287 non-null    object
 7   AsalDaerah                          287 non-null    object
 8   HiringPlatform                      287 non-null    object
 9   SkorSurveyEngagement                287 non-null    int64
 10  SkorKepuasanPegawai                 282 non-null    float64
 11  JumlahKeikutsertaanProjek           284 non-null    float64
 12  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 13  JumlahKetidakhadiran                281 non-null    float64
 14  NomorHP                             287 non-null    object
 15  Email                               287 non-null    object
 16  TingkatPendidikan                   287 non-null    object
 17  PernahBekerja                       287 non-null    object
 18  IkutProgramLOP                      29 non-null     float64
 19  AlasanResign                        221 non-null    object
 20  TanggalLahir                        287 non-null    object
 21  TanggalHiring                       287 non-null    object
 22  TanggalPenilaianKaryawan            287 non-null    object
 23  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(17)
memory usage: 56.1+ KB

🔎 Observasi
- Tipe data: float64, int64, dan object.
- Fitur `EnterpriseID` hanya berisi identifikasi unik untuk setiap karyawan tanpa memberikan informasi tambahan yang relevan untuk analisis, sehingga dapat dihapus.